In [27]:
import pandas as pd

In [28]:
data = pd.read_csv(r"C:\Users\Administrator\Downloads\playground-series-s5e1\train.csv")
test = pd.read_csv(r"C:\Users\Administrator\Downloads\playground-series-s5e1\test.csv")
test_ids = test["id"]

In [29]:
data.head()

   id        date country              store             product  num_sold
0   0  2010-01-01  Canada  Discount Stickers   Holographic Goose       NaN
1   1  2010-01-01  Canada  Discount Stickers              Kaggle     973.0
2   2  2010-01-01  Canada  Discount Stickers        Kaggle Tiers     906.0
3   3  2010-01-01  Canada  Discount Stickers            Kerneler     423.0
4   4  2010-01-01  Canada  Discount Stickers  Kerneler Dark Mode     491.0

In [30]:
def clean(data):
    data = data.drop(["id","date"], axis=1)
    
    cols = ["country","store","product"]
    for col in cols:
        data[col].fillna(data[col].mode()[0], inplace=True)
        
    
    return data

data = clean(data)
test = clean(test)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_4432\1585320538.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_4432\1585320538.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)

In [31]:
data.head(100)

   country              store             product  num_sold
0   Canada  Discount Stickers   Holographic Goose       NaN
1   Canada  Discount Stickers              Kaggle     973.0
2   Canada  Discount Stickers        Kaggle Tiers     906.0
3   Canada  Discount Stickers            Kerneler     423.0
4   Canada  Discount Stickers  Kerneler Dark Mode     491.0
..     ...                ...                 ...       ...
95  Canada  Stickers for Less   Holographic Goose     281.0
96  Canada  Stickers for Less              Kaggle    1972.0
97  Canada  Stickers for Less        Kaggle Tiers    1541.0
98  Canada  Stickers for Less            Kerneler     783.0
99  Canada  Stickers for Less  Kerneler Dark Mode    1068.0

[100 rows x 4 columns]

In [32]:
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
le = LabelEncoder()

# Convert categorical columns to numerical values
for col in ["country", "store", "product"]:
    data[col] = le.fit_transform(data[col])
    test[col] = le.transform(test[col])

data.head()

   country  store  product  num_sold
0        0      0        0       NaN
1        0      0        1     973.0
2        0      0        2     906.0
3        0      0        3     423.0
4        0      0        4     491.0

In [33]:
data['num_sold'].fillna(data['num_sold'].mean(), inplace=True)
y_val.fillna(y_val.mean(), inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_4432\1929423450.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['num_sold'].fillna(data['num_sold'].mean(), inplace=True)

In [34]:
data.head()

   country  store  product    num_sold
0        0      0        0  752.527382
1        0      0        1  973.000000
2        0      0        2  906.000000
3        0      0        3  423.000000
4        0      0        4  491.000000

In [35]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Split the data into features and target
X = data.drop('num_sold', axis=1)
y = data['num_sold']

# Split the data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the RandomForestRegressor
rf = RandomForestRegressor(n_estimators=100, random_state=42)

# Train the model
rf.fit(X_train, y_train)

# Make predictions on the validation set
y_pred = rf.predict(X_val)

# Calculate the mean squared error
mse = mean_squared_error(y_val, y_pred)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 30768.80781686407

In [36]:
from sklearn.metrics import r2_score

# Calculate the R² score
r2 = r2_score(y_val, y_pred)
print(f'R² Score: {r2}')

R² Score: 0.9329458954186243

In [37]:
submission_preds = rf.predict(test)
print(submission_preds)

[ 752.52738194  713.62608116  591.294604   ... 1602.81018585  878.92470058
 1021.99964546]

In [39]:
df = pd.DataFrame({"id": test_ids.values,
                   "num_sold": submission_preds,
                  })

In [40]:
df.to_csv(r"C:\Users\Administrator\Downloads\submission.csv", index=False)